body {
  background-image: url(../images/Statue-Of-Goddess-Justice.jpg);
  background-size: cover;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
}

.card {
  background-color: black;
  border: 1px solid black;
  float: left;
  margin: 1px;
  padding: 10px 3px;
  width: calc( 100% / 5 - 10px);
}

.card-body {
  background-color: black;
}

